apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  template:
    spec:
      containers:
        - name: alertmanager
          image: prom/alertmanager:v0.25.0
          command:
            - /bin/sh
            - -c
          args:
            - |
              WEBHOOK_URL="$$(cat /etc/secrets/slack-webhook-url)"
              sed -i "s|slack_api_url: ''|slack_api_url: '$WEBHOOK_URL'|" /etc/alertmanager/alertmanager.yml
              /bin/alertmanager --config.file=/etc/alertmanager/alertmanager.yml
          volumeMounts:
            - name: config
              mountPath: /etc/alertmanager
            - name: slack-secret
              mountPath: /etc/secrets
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: alertmanager-config
        - name: slack-secret
          secret:
            secretName: alertmanager-slack-secret
            items:
              - key: slack-webhook-url
                path: slack-webhook-url
  selector: