---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
  namespace: monitoring
  labels:
    app: alertmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      labels:
        app: alertmanager
    spec:
      containers:
        - name: alertmanager
          image: prom/alertmanager
          args:
            - "--config.file=/etc/alertmanager/alertmanager.yaml"
            - "--storage.path=/alertmanager"
          ports:
            - containerPort: 9093
          volumeMounts:
            - name: config
              mountPath: /etc/alertmanager
            - name: slack-secret
              mountPath: /etc/alertmanager/secrets
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: alertmanager-config
            items:
              - key: alertmanager.yaml
                path: alertmanager.yaml
        - name: slack-secret
          secret:
            secretName: alertmanager-slack-webhook
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager-service
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: alertmanager
  ports:
    - protocol: TCP
      port: 9093
      targetPort: 9093
      nodePort: 31004
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-alertmanager
  annotations:
    nginx.ingress.kubernetes.io/server-alias: "alertmanager.k8s-16.sa"
spec:
  ingressClassName: nginx
  rules:
    - host: alertmanager.k8s-15.sa
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: alertmanager-service
                port:
                  number: 9093
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yaml: |-
    global:
      resolve_timeout: 5m

    route:
      receiver: slack-notifications
      group_by: ['alertname','namespace','pod']
      group_wait: 10s
      group_interval: 2m
      repeat_interval: 30m
      routes:
        - matchers:
            - severity="slack"
          receiver: slack-notifications

    receivers:
      - name: slack-notifications
        slack_configs:
          - api_url_file: /etc/alertmanager/secrets/webhook_url
            channel: "#devops-alerts"
            send_resolved: true
            title: "{{ .CommonAnnotations.summary }}"
            text: >-
              *Alert:* {{ .CommonLabels.alertname }}
              *Severity:* {{ .CommonLabels.severity }}
              *Namespace:* {{ .CommonLabels.kubernetes_namespace }}
              *Pod:* {{ .CommonLabels.kubernetes_pod_name }}
              *Details:* {{ .CommonAnnotations.description }}